### Imports

In [3]:
import pandas as pd
import spacy

In [4]:
nlp = spacy.load("en_core_web_sm")

### Data Cleaning

#### Read from CSV

In [5]:
df = pd.read_csv("../data/review_2022.csv")
df.head()

                                                text     label
0  I bought a Fender 1966 Telecaster that the sal...  negative
1  This is our go to for take out when I visit my...  positive
2  Danielle did a great job!  She listened and cu...  positive
3  We saw a lot of roaches in the bathroom when w...  negative
4  We  Ordered pork fried rice and beef chow mei ...  negative

#### Clean Data

Apply a function to `text` column that:
* Convert text to lower case
* Ensure text is alphabetic characters
* Ensure text is not a stop word

In [23]:
def clean_text(text):
  output = []
  tokens = nlp(text.lower())

  for token in tokens:
    if (token.is_alpha) and (not token.is_stop):
      output.append(str(token))

  return " ".join(output)

In [24]:
df["text"] = df["text"].apply(clean_text)
df.head()

                                                text     label
0  bought fender telecaster salesperson told orig...  negative
1  visit son restaurant desert home food authenti...  positive
2  danielle great job listened cut hair way reque...  positive
3  saw lot roaches bathroom woke bed large dark s...  negative
4  ordered pork fried rice beef chow mei fun teri...  negative

#### Export to CSV

In [26]:
df.to_csv("../data/review_2022_clean.csv", index=False)