### Imports

In [13]:
import pickle
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

### Data Preparation

#### Read from CSV

In [5]:
df = pd.read_csv("../data/review_2022_clean.csv")
df.head()

                                                text     label
0  bought fender telecaster salesperson told orig...  negative
1  visit son restaurant desert home food authenti...  positive
2  danielle great job listened cut hair way reque...  positive
3  saw lot roaches bathroom woke bed large dark s...  negative
4  ordered pork fried rice beef chow mei fun teri...  negative

#### Perform Train-Test Split

In [6]:
X = df["text"]
y = df["label"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Perform Vectorization

In [9]:
tfidf = TfidfVectorizer()

X_train = tfidf.fit_transform(X_train)
X_test = tfidf.transform(X_test)

#### Check Shape

In [12]:
X_train.shape

(25332, 33634)

In [14]:
X_test.shape

(6333, 33634)

#### Export Objects

In [17]:
X_train_file = "../data/X_train.pickle"

with open(X_train_file, "wb") as f:
  pickle.dump(X_train, f)

In [18]:
X_test_file = "../data/X_test.pickle"

with open(X_test_file, "wb") as f:
  pickle.dump(X_test, f)

In [19]:
y_train_file = "../data/y_train.pickle"

with open(y_train_file, "wb") as f:
  pickle.dump(y_train, f)

In [20]:
y_test_file = "../data/y_test.pickle"

with open(y_test_file, "wb") as f:
  pickle.dump(y_test, f)